
.product {
  padding-top: 104px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.product__subtitle {
  @extend %titanN;
  font-size: 18px;
  line-height: 38px;
  color: $light-pink-text-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6px;
}

.product__title {
  text-align: center;
  @extend %titanN;
  font-size: 36px;
  line-height: 52px;
  color: $maroon;
  text-transform: uppercase;
  margin-bottom: 120px;
}

.product__list {
  list-style: none;
  margin: 0 auto;

}

.product__item--title {
  text-align: center;
  @extend %titanN;
  font-size: 15px;
  line-height: 38px;
  text-transform: uppercase;
  color: $main-color;
  padding-top: 152px;
  margin-bottom: 20px;
}

.product__item--text {
  text-align: center;
  @extend %dm-sansB;
  font-size: 13px;
  line-height: 20px;
  color: $main-color;
  width: 173px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;

}

.dot_1 {
  margin-right: 4px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 6px;
  height: 6px;
}

.arrow {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-image: url(../images/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;

}

.product__item {
  position: relative;
  padding-bottom: 30px;
  width: 242px;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 120px;

}

.product_pic {
  position: absolute;
  top: -107px;
}
.tel {
    text-decoration: none;
}

.one {
  background-color: rgb(255, 184, 201);
}

.two {
  background-color: rgb(239, 209, 165);
}

.three {
  background-color: rgb(193, 226, 151);
}

@media (min-width: 768px) {
  .product__list {
    display: flex;
    justify-content: space-between;
    width: 690px;
  }

  .product__title {
    margin-bottom: 150px;
  }

  .product__subtitle {
    font-size: 26px;
  }
  .product__item--title { 
    font-size: 21px; 
}
  .product__title {
    font-size: 51px;
  }

  .product__item {
    width: 218px;
  }

  .product__item--text {
    font-size: 14px;
    line-height: 24px;
  }
}

  @media (min-width: 1280px) {
    .product__list {
      width: 1050px;
    }
    .product__title {
        margin-bottom: 224px;
    }
    .product__subtitle {
      font-size: 30px;
    }
    .product_pic {
      top: -206px;
    }
    .product__title {
      font-size: 60px;
    }
    .product__item--title { 
        font-size: 25px; 
    }
    .product__item {
      width: 333px;
    }

    .product__item--text {
      font-size: 16px;
      line-height: 28px;
      width: 240px;
    }

    .product {
      background-image: url(../images/sectionbg3.jpg);
      background-position: center;
    }

    .pt {
      width: 270px;
    }

  }
