.owl-carousel .owl-item img {
    display: block;
    width: auto;
    max-width: 100%;
}

.owl-dots {
    display: flex;
    justify-content: center;
}

.owl-dot {
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background-color: rgb(217, 217, 217) !important;
    &:focus {
        outline: none !important;
    }

    &.active {
        
        background-image: url("../images/home2@2x.png") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-color: transparent !important;
        border-radius: 0 !important;
    }
}

.owl-dot:not(:last-child) {
    margin-right: 10px;
}