$main-color: #ffffff;
$maroon: #d41442;
$light-pink-text-color: #ffa5ba;
$background-color: #ffb8c9;
$background-color-beige: #efd1a5;
$background-color-green: #c1e297;
$background-color-wrapper-lighter: #fff5f7;
$main-text-color: #907e82;
$background-color-wrapper-darker: #fafafa;
$slider-ellipse: #d9d9d9;
$footer-copyright: #b3a0a4;
